<div class="username">
<%= @user.name %> <br>
</div>

<div class="happiness">
Happiness meter: <%= @user.happiness %>
</div>
<br>

<% if current_user == @user %>
<%= form_for(@cake) do |f| %>
     <%= f.submit "Bake a cake!", class: "btn btn-large btn-primary" %>
<% end %>

	<% else %>

	<%= form_tag "/cakes/" + params[:id] + "/give", method: "get" do %>

		<%= submit_tag "Give " + @user.name + " a cake!", class: "btn btn-large btn-primary" %>
	<% end %>

<% end %>


<div id="baked">
Cakes <%= @user.name%> baked:
<% @user.cakes.where("has_been_given = ?", false).each do |cake| %>
	<img src=<%= cake.photo %> width="50" height="50">
<% end %>
</div>

<div id="received">
Cakes <%= @user.name%> has received:
<% @user.cakes.where("has_been_given = ?", true).each do |cake| %>
	<img src=<%= cake.photo %> width="50" height="50">
	<% if cake.message.blank? %>
	<% else %>
		"<%= cake.message %>"
	<% end %>
		From: <%= cake.baked_by %>
	<br>
<% end %>
</div>