<%= flash[:success] %>
<%= flash[:no_more_cakes] %>
<%= flash[:been_given] %>
<br>
<%= @user.name %> <br>
<%= @user.email %> <br>

Your happiness meter reads: <%= @user.happiness %> <br>

<img src= "http://maps.googleapis.com/maps/api/staticmap?center=272+Dwight+Street,New+Haven,+CT&zoom=13&size=1200x600">

<% if current_user == @user %>

<%= form_for(@cake) do |f| %>
     <%= f.submit "Bake a cake!", class: "btn btn-large btn-primary" %>
<% end %>

	<% else %>

	<%= form_tag "/cakes/" + params[:id] + "/give", method: "get" do %>

		<%= submit_tag "Give " + @user.name + " a cake!", class: "btn btn-large btn-primary" %>
	<% end %>

<% end %>

Cakes <%= @user.name%> has: <%= @user.cakes.count %>
<div>
Cakes <%= @user.name%> baked:
<% @user.cakes.where("has_been_given = ?", false).each do |cake| %>
	<img src=<%= cake.photo %> width="50" height="50">
<% end %>
</div>

<div>
Cakes <%= @user.name%> has received:
<% @user.cakes.where("has_been_given = ?", true).each do |cake| %>
	<img src=<%= cake.photo %> width="50" height="50">
	<% if cake.message.blank? %>
	<% else %>
		"<%= cake.message %>"
	<% end %>
		From: <%= cake.baked_by %>
	<br>
<% end %>
</div>

