<div class="row">

<div class="span9">
<div class="span3" id="username">
<h2><%= @user.name %></h2>
<%= link_to "How happy are you?", '/users/' + current_user.id.to_s + '/location' %> <br>

<% if current_user == @user %>
<%= form_for(@cake) do |f| %>
     <%= f.submit "Bake a cake!", class: "btn btn-large btn-primary" %>
<% end %>

	<% else %>

	<%= form_tag "/cakes/" + params[:id] + "/give", method: "get" do %>

		<%= submit_tag "Give " + @user.name + " a cake!", class: "btn btn-large btn-primary" %>
	<% end %>

<% end %>
</div>


<div class="span5" id="happiness">
<br>
Happiness meter: <br> <%= @user.happiness %>
</div>




<div id="received" class="span7">
<h2 id="received-header"> Cakes <%= @user.name%> has received: </h2>
<% @user.cakes.where("has_been_given = ?", true).each do |cake| %>
	<img src=<%= cake.photo %> width="50" height="50">
	<% if cake.message.blank? %>
	<% else %>
		"<%= cake.message %>"
	<% end %>
		From: <%= cake.baked_by %>
	<br> <br>
<% end %>
</div>
</div>


<div id="baked" class="span3">
Cakes <%= @user.name%> baked: <br> <br>
<% @user.cakes.where("has_been_given = ?", false).each do |cake| %>
	<img src=<%= cake.photo %> width=25px height=25px >
<% end %>
</div> 

</div>

